<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .full-wrapper {
        width: 100%;
        height: 100vh;
        background-color: red;
        color: #fff;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20rem;
        background-image: url('../welcome-image.jpg');
        background-size: cover;
        background-position: center center;
    }
</style>
<body>
    <div class="full-wrapper">
        <form action="/friend/create" method="post">
            <input type="email" name="email" id="email">
            <input type="text" name="username" id="username">
            <input type="text" name="firstName" id="firstName">
            <input type="text" name="lastName" id="lastName">
            <button type="button">Submit Friend</button>
        </form>
    </div>
</body>
</html>